.nav-container {
  padding: 10px 20px;
  background: white;
  border-bottom: 4px solid #014421; /* verde boscoso */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0,0,0,0.07);
}

/* --- LOGO AREA --- */
.logo-area {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-text {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  color: #333; /* gris oscuro */
  font-weight: bold;
}

/* --- MENU --- */
.menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #333; /* gris oscuro */
  font-weight: 500;
  padding-bottom: 4px;
  transition: 0.3s;
}

/* HOVER */
.menu ul li a:hover {
  border-bottom: 3px solid #014421; /* verde boscoso */
}

/* --- HAMBURGER ICON --- */
.menu-icon {
  cursor: pointer;
  display: none;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu {
    width: 100%;
    display: none;
    margin-top: 10px;
  }

  #menu-toggle:checked ~ #menu {
    display: block;
  }

  .menu ul {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
}